[package]
name = "patricia_tree"
version = "0.3.2"
authors = ["Takeru Ohta <phjgt308@gmail.com>"]
description = "Memory-efficient data structures based on patricia tree"
homepage = "https://github.com/sile/patricia_tree"
repository = "https://github.com/sile/patricia_tree"
readme = "README.md"
keywords = ["patricia", "radix", "trie"]
categories = ["data-structures"]
license = "MIT"
edition = "2021"

[badges]
coveralls = {repository = "sile/patricia_tree"}

[features]
binary-format = ["bytecodec", "trackable"]

[dependencies]
bitflags = "1"
bytecodec = { version = "0.4", optional = true }
trackable = { version = "0.2", optional = true }

[dev-dependencies]
clap = "2"
rand = "0.8"

[package.metadata.docs.rs]
all-features = true

[[example]]
name = "decode"
path = "examples/decode.rs"
required-features = ["binary-format"]

[[example]]
name = "encode"
path = "examples/encode.rs"
required-features = ["binary-format"]

[[example]]
name = "insert_lines"
path = "examples/insert_lines.rs"
